html, body, #root, #react-app {
    height: 100%;
}

.ui.card .avatar img, .ui.card img.avatar, .ui.cards > .card .avatar img, .ui.cards > .card img.avatar {
    width: 1.5em;
    height: 1.5em;
}

.large.text {
    font-size: 2rem;
}